/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Estilos Universais */
:root {
  --primary-font: Inter, -apple-system, BlinkMacSystemFont, Helvetica, sans-serif;
}

body {
    font-family: var(--primary-font);
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
}

.project {
    background: #f4f4f4;
    margin: 20px 0;
    padding: 15px;
}

.contact p, .about p, .projects div {
    max-width: 600px;
    margin: auto;
}

#profile-photo {
    display: block;
    margin: 0 auto 20px; /* Center the image and add some margin below */
    width: 150px; /* Set a fixed width */
    height: 150px; /* Maintain aspect ratio, adjust as needed */
    border-radius: 50%; /* Make the photo round */
    object-fit: cover; /* Ensure the photo covers the set width/height without distortion */
}